h2 Меню
ul.menu
    li
        a(href="../build/index.html") Главная
    li
        a(href="../build/about.html") Обо мне
    li
        a(href="../build/my-works.html") Мои работы
    li
        a(href="../build/blog.html") Блог